<div class="container8" style="width: 100%;">
  <%= image_tag "lobsterphone.png", :class => "image3" %>
  <h1>Contact</h1><br>
  <h4>For any questions related to the organisation</h4>
  <medium>name - xxx@hotmail.com | +32 xx xxx xx x</medium><br><br>
  <div class="container">
    <%= image_tag "iguana.png", :class => "image9 animate__swing animate__animated animate__infinite" %><%= image_tag "duck.png", :class => "image8 animate__swing animate__animated animate__infinite" %><%= image_tag "whale.png", :class => "image9 animate__swing animate__animated animate__infinite" %><%= image_tag "boat.png", :class => "image8 animate__swing animate__animated animate__infinite" %><%= image_tag "fish.png", :class => "image9 animate__shakeY animate__animated animate__infinite" %><%= image_tag "giraffe.png", :class => "image8 animate__swing animate__animated animate__infinite ml-3" %><%= image_tag "monkey.png", :class => "image9 animate__swing animate__animated animate__infinite" %><%= image_tag "rhino.png", :class => "image9 animate__swing animate__animated animate__infinite" %><%= image_tag "bath.png", :class => "image8 animate__swing animate__animated animate__infinite" %>
</div>

